* @cagix
/homework/ @bcg7 @cagix
/markdown/frontend/lexing/regular.md @bcg7 @cagix
/markdown/frontend/parsing/cfg.md @bcg7 @cagix
/markdown/frontend/parsing/ll-parser-theory.md @bcg7 @cagix
/markdown/frontend/parsing/lr-parser1.md @bcg7 @cagix
/markdown/frontend/parsing/lr-parser2.md @bcg7 @cagix
/markdown/frontend/parsing/parsercombinator.md @bcg7 @cagix
/markdown/frontend/semantics/attribgrammars.md @bcg7 @cagix
/markdown/intermediate/llvm-ir.md @bcg7 @cagix
/markdown/backend/optimization.md @bcg7 @cagix
